header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 12px 64px;
  box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  z-index: 1000;
  will-change: transform;
  transform: translateZ(0);
  transition: transform 0.3s ease;
  contain: size layout style;
  img {
    width: 100px;
  }
  nav {
    display: flex;
    gap: 24px;
    align-items: center;
    .link {
      text-decoration: none;
      font-size: 18px;
    }
  }
}
